.Pet-title {
  width: 100%;
  text-align: center;
  margin: 10px auto;
  font-family: Lemon;
  color: #ffeeae;
  -webkit-text-stroke: 1px black;
}
.search-box{width: 400px;  margin-left: 700px;}
.search {
  width: 500px;
  height: 30px;
  border-radius: 30px;
  margin-right: 20px;
}
.icon{font-size: 20px;}