* {
  margin: 0;
  padding: 0;
}
.OrderItem-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #ccc;
}
.OrderItem-wrapper h3 {
  width: 200px;
  text-align: center;
  margin-top: 30px;
}
.order-title{
  width: 200px;
  margin: 0 auto;
  font-size: 18px;
}
.order-item {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
  height: 300px;
  background-color: white;
}
.order-item img {
  width: 45%;
  height: 270px;
}
.order-prod{
  width: 50%;
  margin-left: 350px;
}
.order-item .title {
  width: 400px;
  padding: 5px;
}
.order{
  width: 50%;
  margin-left: 350px;
  margin-bottom: 20px;
}
.title p{padding: 5px;}
.title .order-name{color: black;}
.title .quantity{color: black;}
.title .price {color: black;}
.order-info {
  width: 60%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  background-color: white;
  margin: 0 auto;
}
.information {width: 70%;}
.information p {
  font-size: 18px;
  padding: 5px;
}
.information p:nth-child(2) {
  font-size: 18px;
  font-weight: 600;
  color: #bdbdbd;
}
.information p:nth-child(3) {
  font-size: 18px;
  font-weight: 600;
  color: #bdbdbd;
}
button {
  width: 100px;
  height: 30px;
}
.payment-button{
  width: 50%;
  height: 70px;
  line-height: 70px;
  background-color: aqua;
  color: white;
  margin: 20px auto;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
