* {
  margin: 0;
  padding: 0;
}
.OrderItem-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #ccc;
}
.OrderItem-wrapper h3 {
  width: 200px;
  color: black;
  font-size: 20px;
  position: relative;
  top: 30px;
}
.order-item {
  width: 60%;
  margin-top: 50px;
  margin-left: 50px;
  height: 300px;
  background-color: white;
}
.order-item img {
  width: 300px;
  height: 200px;
  margin-top: 50px;
  margin-left: 30px;
  float: left;
}
.title {
  width: 400px;
  float: left;
  margin-top: 80px;
  margin-left: 30px;
}
.title .order-name {
  width: 300px;
  text-align: left;
  color: black;
}
.title .quantity {
  color: black;
  text-align: left;
  margin-left: 5px;
  margin-top: 10px;
}
.title .price {
  color: black;
  text-align: left;
  margin-left: 5px;
  margin-top: 10px;
}
.order-info {
  width: 60%;
  overflow: hidden;
  background-color: white;
  margin-left: 50px;
  margin-top: 30px;
}
.information {
  width: 700px;
  height: 100px;
  overflow: hidden;
  position: relative;
  right: 200px; top: 50px;
}
.info-name{
    color: black;
    margin-right: 10px;
}
.information .info-phone{
    width: 300px;
    text-align: center;
    margin-left: 75px;
}
.information .info-email{
    width: 300px;
    text-align: center;
    margin-left: 90px;
}
button {
  float: left;
  width: 100px;
  height: 30px;
  position: relative;
  bottom: 70px;
  left: 300px;
}
