.login-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 600px;
    height: 800px;
    border: 1px solid black;
    border-radius: 2%;
    
}
.login{
    position: absolute;
    top: 73px;
    left: 84px;
    
    
}
.email{
    position: absolute;
    top: 175px;
    left: 90px;
    font-size: 14px;
    
}
.password{
    position: absolute;
    top: 260px;
    left: 90px;
    font-size: 14px;
    
}
.search{
    position: absolute;
    top: 335px;
    right: 94px;
    font-size: 11px;
    
}
.or{
    position: absolute;
    top:444px;
    left: 280px; 
}
.join{
    position: absolute;
    padding-top: 30px;
    left: 232px;
    
}
.Email_input input{
    border-radius: 10px;
    border: 1px solid rgb(201, 201, 201);
    margin-top: 200px;
    width:  70%;
    height: 40px;
}
.Password_input input{
    border-radius: 10px;
    border: 1px solid rgb(201, 201, 201);
    margin-top: 40px;
    width:  70%;
    height: 40px;
}
.submit_button input{
    margin-top: 50px;
    width:  72%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #FBE99F;
    font-size: 20px;
    font-weight: bold;
}
.kakao_button input{
    margin-top: 55px;
    width:  72%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #FEE500;
    font-size: 20px;
    font-weight: bold;
}
.naver_button input{
    margin-top: 25px;
    width:  72%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #03C75A;
    font-size: 20px;
    font-weight: bold;
    color: white;
    
}