.mainContainer h1 {
    color: #FBE99F;
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 50px;
}

.mainContainer ul {
    display: flex;
    justify-content: space-between;
}

.mainContainer ul li {
    list-style: none;
}

.mainContainer .navFirst ul {
    padding: 0px;
    margin-left: 35%;
    margin-right: 35%;
}

.mainContainer h3 {
    font-size: 20px;
    margin-bottom: 100px;
    margin-top: 50px;
}

.mainContainer .navSecond ul {
    padding: 0px;
    margin-left: 80px;
    margin-right: 80px;
}
.mainContainer .navFirst a {
    color: #5b5b5b;
}
.mainContainer .navSecond a {
   color: white;
}
body {
    background-image: url(https://jellypetsalon.com/content/images/size/w1000/2023/06/vitalii-khodzinskyi-Hju091vRz_Q-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.mainContainer a {
    text-decoration-line : none;
}