.MainPage{
    max-height: 500vh;
}
/* .MainPage img{
    width: 400px;
    height: 400px;
} */
#field3{
    object-fit: cover;
    max-height: 1800px;
}

.Main-pupday p {
    font-size: 280px;
    margin-top: 300px;
}
#puppy{
    color: #ffff;
}
#day{
    display: flex;
    justify-content: end;
    font-size: 280px;
}

.Main-footer{
    margin-bottom: 50px;
    z-index: 1;
}