.MainPage{
    max-height: 500vh;

}

#field3{
    object-fit: cover;
    max-height: 1800px;
    z-index: 1;
}
.Main-pupday{
    position: absolute;
    z-index: 5;  /* Adjust as needed */
}
.Main-pupday p {
    font-size: 280px;
    margin-top: 300px;
}
#puppy{
    color: #ffff;
}
#day{
    display: flex;
    justify-content: end;
    font-size: 280px;
}

.Main-footer{
    
    
}

.main-footer-title{
    position: fixed;
    margin-top: 550px;
    margin-bottom: 100px;
    font-size: 100px;
    z-index: 3;
    offset: 1;
}








.MainAllFooter{
    position: relative;
    z-index: 55;
    offset: 5;
}