.register-container{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-left: 50%;
    transform: translate(-50%);
    width: 600px;
    height: 880px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 1px 1px 7px 4px gray;
    border: none;
}

.Reg{
    font-size: 32px;
    font-weight: bold;
    margin-top: 80px;
    margin-left: 80px;
    margin-bottom: 50px;
}
.register-container h2{
    margin-top: 60px;
    margin-left: 80px;
    margin-bottom: 14px;
}

.register-container label{
    margin-left: 80px;
    margin-bottom: 100px;
    font-size: 14px;
    font-weight: bold;
}
.register-input{
    margin-top: 5px;
    margin-left: 80px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 1px solid rgb(201, 201, 201);
    width: 70%;
    height: 40px;
}
.register-btn{
    width: 71%;
    height: 50px;
    margin-top: 40px;
    margin-left: 80px;
    border-radius: 10px;
    border: none;
    background-color: #FBE99F;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.register-btn:hover{
    background-color: #f7df7f;
}

.password-visible-icon{
    position: absolute;
    color: gray;
    top: 353px;
    left: 465px;
    cursor: pointer;
}

.passwordConfirm-visible-icon{
    position: absolute;
    color: gray;
    top: 428px;
    left: 465px;
    cursor: pointer;
}

.register-username-alert{
    visibility: hidden;
}
.register-username-alert-view{
    visibility: visible;
}
.register-userRealname-alert{
    visibility: hidden;
}
.register-userRealname-alert-view{
    visibility: visible;
}
.register-password-alert{
    visibility: hidden;
}
.register-password-alert-view{
    visibility: visible;
}
.register-confirmPassword-alert{
    visibility: hidden;
}
.register-confirmPassword-alert-view{
    visibility: visible;
}