.image-zigzag {
  width: 100%;
  margin-top: 60px;
}
.image-zigzag img {
  border-radius: 20px;
}
.item:first-child {
  width: 100%;
}
.item:first-child img {
  float: left;
}
.item:first-child .item-detail {
  width: 620px;
  text-align: left;
  margin-left: 30px;

}
.item-detail .item-name {
  font-size: 20px;
  font-weight: bold;
}
.item:nth-child(2) {
  width: 100%;
  position: relative;
  top: 300px;
}
.item:nth-child(2) img {
  float: right;
}
.item:nth-child(2) .item-detail {
  width: 400px;
  text-align: left;
  float: right;
  margin-right: 30px;
  position: relative;
  right: 20px; bottom: 100px;
}
.item:nth-child(3) {
  width: 100%;
  position: relative;
  top: 550px;
}
.item:nth-child(3) img {
  width: 50%;
  float: left;
}
.item:nth-child(3) .item-detail {
  width: 500px;
  margin-left: 30px;
  text-align: left;
  position: relative;
  top: 150px;
}
.item-detail {
  width: 100%;
  float: left;
}
.funding-title{
  width: 100px;
  height: 50px;
  border-radius: 10px;
  background-color: #FFEEAE;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
}
.item-funding{
  width: 150px;
  height: 30px;
  font-family: Lemon;
  font-weight: bold;
}
.item-funding .funding{
 font-size: 18px; 
font-weight: bold;
margin-right: 20px;
}
.FundingPeriod{
  width: 240px;
  font-family: Lemon;
  font-weight: bold;
}
.FundingPeriod .period{
  font-size: 18px;
  margin-right: 10px;
}
