.image-zigzag {
  width: 100%;
  margin-top: 100px;
}
.image-zigzag img {
  width: 45%;
  border-radius: 20px;
}
.item:first-child {
  width: 100%;
}
.item:first-child img {
  float: left;
}
.item:first-child .item-detail {
  width: 750px;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 200px; bottom: 190px;
}
.item:first-child .button{
  font-size: 20px;
  position: relative;
  right: 90px; top: 400px;
  
}
.item-detail .item-name {
  width: 450px;
  font-size: 20px;
  font-weight: bold;
}
.item:nth-child(2) {
  width: 100%;
  position: relative;
  top: 300px;
}
/* .item:nth-child(2) .button{
  position: relative;
  top: 350px; right: 40px;
} */
.item:nth-child(2) img {
  float: right;
}
.item:nth-child(2) .item-detail {
  width: 400px;
  display: flex;
  flex-direction: column;
  text-align: left;
  float: right;
  margin-right: 30px;
  position: relative;
  right: 300px; bottom: 240px;
}
.item:nth-child(3) {
  width: 100%;
  position: relative;
  top: 300px;
}
.item:nth-child(3) img {
  float: left;
}
.item:nth-child(3) .item-detail {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  position: relative;
  left: 150px;
}

.funding-title{
  width: 100px;
  height: 50px;
  border-radius: 10px;
  background-color: #FFEEAE;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
}
.item-funding{
  width: 450px;
  height: 30px;
  font-family: Lemon;
  font-weight: bold;
}
.item-funding .funding{
 font-size: 18px; 
font-weight: bold;
margin-right: 20px;
}
.FundingPeriod{
  width: 270px;
  font-family: Lemon;
  font-weight: bold;
}
.FundingPeriod .period{
  font-size: 18px;
  margin-right: 10px;
}
