.join-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 600px;
    height: 900px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 1px 1px 7px 4px gray;
    border: none;
    
}
.join_Title{
    position: absolute;
    top: 50px;
    left: 84px;
    font-size: 30px;
    
    
}
.j_email{
    position: absolute;
    top: 165px;
    left: 90px;
    font-size: 14px;
    
}
.name{
    position: absolute;
    top: 260px;
    left: 90px;
    font-size: 14px;
}
.joinPassword{
    position: absolute;
    top: 355px;
    left: 90px;
    font-size: 14px;
    
}
.joinpasswordCheck{
    position: absolute;
    top: 450px;
    left: 90px;
    font-size: 14px;
    
}
.search{
    position: absolute;
    top: 335px;
    right: 94px;
    font-size: 11px;
    
}
.easyJoin{
    position: absolute;
    top: 635px;
    left: 260px; 
    font-weight: bold;
    font-size: 19px;
}




.joinEmail_input input{
    position: absolute;
    border-radius: 10px;
    border: 1px solid rgb(201, 201, 201);
    margin-top: 190px;
    left: 85px;
    width:  50%;
    height: 40px;
}
.emailCheck_button input{
    position: absolute;
    margin-top: 190px;
    right: 90px;
    width:  100px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: #FBE99F;
    font-size: 20px;
    font-weight: bold;
}
.name_input input{
    position: absolute;
    border-radius: 10px;
    border: 1px solid rgb(201, 201, 201);
    margin-top: 285px;
    left: 85px;
    width:  70%;
    height: 40px;
}
.joinPassword_input input{
    position: absolute;
    border-radius: 10px;
    border: 1px solid rgb(201, 201, 201);
    margin-top: 380px;
    left: 85px;
    width:  70%;
    height: 40px;
}
.PasswordCheck_input input{
    position: absolute;
    border-radius: 10px;
    border: 1px solid rgb(201, 201, 201);
    margin-top: 475px;
    left: 85px;
    width:  70%;
    height: 40px;
}
.joinSubmit_button input{
    margin-top: 550px;
    width:  72%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #FBE99F;
    font-size: 20px;
    font-weight: bold;
}
.join_kakao-img{
    position: absolute;
    top: 695px;
    left: 150px;
}
.joinKakao_button input{
    margin-top: 85px;
    width:  72%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #FEE500;
    font-size: 20px;
    font-weight: bold;
}
.join_naver-img{
    position: absolute;
    top: 770px;
    left: 153px;
    color: white;
}
.joinNaver_button input{
    margin-top: 25px;
    width:  72%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #03C75A;
    font-size: 20px;
    font-weight: bold;
    color: white;
    
}