body{
    min-height: 300vh;
    background: radial-gradient(circle, #FFE689,#FFF1C0,#FFFFFF);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#uploadPhoto{
    width: 300px;
    height: 300px;
    background-color: white;
    margin-top: 30px;
    margin-left: 30px;
}

#title-container{
    display: flex;
    flex-direction: column;
}
#title, #person ,#fundingDate{
    width: 300px;
    height: 20px;
    background-color: white;
    margin-left: 30px;
    border: none;
    border-radius: 30px;
    padding: 10px;
    font-size: 16px; 
}

#info{
    width: 500px;
    height: 1000px;
    padding: 10px; 
    font-size: 16px; 
    line-height: 1.5;
    resize: none;
    border: none;
    border-radius: 30px;
}

#uploadbtn{
    background-color: white;
    border: solid 2px black;
    border-radius: 30px;
    width: 70px;
    height: 30px;
    cursor: pointer;
    margin-top: 30px;

}

