.schoolpost{
    min-height: 300vh;
    background: radial-gradient(circle, #FFE689,#FFF1C0,#FFFFFF);
}

.scp-photo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#uploadPhoto{
    width: 300px;
    height: 300px;
    background-color: white;
    margin-top: 30px;
    margin-left: 30px;
}

#scp-title, #scp-person ,#scp-fundingDate{
    width: 300px;
    height: 20px;
    background-color: white;
    margin-left: 30px;
    border: none;
    border-radius: 30px;
    padding: 10px;
    font-size: 16px; 
}


#scp-info{
    width: 500px;
    height: 1000px;
    padding: 10px; 
    font-size: 16px; 
    line-height: 1.5;
    resize: none;
    border: none;
    border-radius: 30px;
}

#schuploadbtn{
    background-color: #FFE689;
    border: none;
    border-radius: 30px;
    width: 70px;
    height: 30px;
    cursor: pointer;
    margin-top: 30px;
    margin: 20px;

}
#schuploadbtn:hover{
    background-color: black;
    color: white;
}
.photo-fill-btn{
    padding: 6px 25px;
    margin-top: 30px;
    background-color:#000000;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

/*.upload-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    gap: 20px; 
    width: 450px;
    height: 450px; 
    margin: 0 auto; 
    margin-top: 20px;
    margin-bottom: 40px;
}*/



#selectedPhotos{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    gap: 20px; 
    width: 50px;
    height: 50px; 
    margin: 0 auto; 
    margin-top: 20px;
    margin-bottom: 40px;
}


