/*.App {
  text-align: center;
}*/

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

 /* .App-header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}  */

.loginText::-webkit-scrollbar{
  display: none;
  height: 20px;
  scrollbar-width: none;
  overflow: hidden;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loginText{
  padding-left: 75%;
}
.loginBtn{
  border: 0;
  background-color: transparent;
  font-size: 14px
}
.registerBtn{
  border: 0;
  background-color: transparent;
  font-size: 14px
}
.mypageBtn{
  border: 0;
  background-color: transparent;
  font-size: 14px;
}
.logoutBtn{
  border: 0;
  background-color: transparent;
  font-size: 14px;
}