.wishlist {
  text-align: center;
}

.wishlist h1 {
  font-size: 2em;
  margin-bottom: 20px;
  cursor: pointer;
}

.wishlist-items {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.wishlist-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wishlist-item img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

.wishlist-item p {
  margin-top: 10px;
  font-size: 1.2em;
}
